{% extends 'base.html' %}
{% load static %}

{% block title %} WI IZ {% endblock title %}

{% block content %}

    <main class="flex-shrink-0">
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">A nossa missão e fazer as coisas facéis para si!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About section one-->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'easy.png' %}" alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Missão</h2>
                        <p class="lead fw-normal text-muted mb-0">Com a ajuda da nossa web App conseguirá construir a webpage que sempre quis apenas com alguns cliques.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="fw-bolder">Our team</h2>
                    <p class="lead fw-normal text-muted mb-5">Qualidade e sucesso</p>
                </div>
                <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'freitas.png' %}" alt="..." />
                            <h5 class="fw-bolder">Andre Freitas</h5>
                            <div class="fst-italic text-muted">Founder and Developer</div>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'francisco.png' %}" alt="..." />
                            <h5 class="fw-bolder">Francisco Torres</h5>
                            <div class="fst-italic text-muted">Founder and Developer</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}