{% extends 'base.html' %}
{% load static %}

{% block title %} WI IZ {% endblock title %}

{% block content %}

<!-- Header-->
<header class="bg-black bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Termos e Condições</h1>
    </div>
</header>
<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                    <p> </p>
                    <p>Bem Vindo à WIIZ estes termos e condições definem as regras e regulamentos para a utilização do Website da WIIZ.</p>
                    <p> <strong> WIIZ </strong> encontra-se localizada em: Avenida Visconde Guedes Teixeira, 5100-074-Lamego</p>
                    <p> </p>
                    <p>Este documento, e todo o conteúdo do site é oferecido por <strong>WIZ</strong>, neste termo representado apenas por "EMPRESA", que regulamenta todos os direitos e obrigações com todos que acessam o site, denominado neste termo como "VISITANTE", reguardado todos os direitos previstos na legislação, trazem as cláusulas abaixo como requisito para acesso e visita do mesmo, situado no endereço <strong>http://www.wiiz.pt.</strong></p>
                    <p> </p>
                    <p>Ao aceder a este site, presumimos que aceita os termos e condições na totalidade. Não continue a utilizar o site da <strong> WIIZ </strong> se não aceitar todos os termos e serviços referidos nesta página.</p>
                    <p> </p>
                    <h3><strong>1.SITE</strong></h3>
                    <p> </p>
                    <p>A terminologia seguinte aplica-se a estes Termos e Condições, Declaração de Privacidade e Aviso de Isenção de Responsabilidade, assim como a todo e qualquer acordo: Cliente, Você e Seu referem-se a si, a pessoa que está a aceder a este site para aceitar os termos e condições da Empresa. A Empresa, Nós e Nosso, referem-se à nossa Empresa. Entidade, Entidades, ou Nós, referem-se tanto ao cliente como a nós, ou só ao cliente ou a nós.</p>
                    <p> </p>
                    <p>Todos os termos referem-se à oferta, aceitação e consideração do pagamento necessário para levar a cabo o processo da nossa assistência ao Cliente da forma mais apropriada, seja através de reuniões formais de duração fixa, ou qualquer outro meio, com o objetivo expresso de cumprir as necessidades do Cliente no que diz respeito ao fornecimento dos serviços/produtos da Empresa, de acordo com, e sujeito à lei vigente de Avenida Visconde Guedes Teixeira, 5100-074-Lamego.</p>
                    <p> </p>
                    <p>Qualquer uso da terminologia acima ou outras palavras no singular, plural, em maiúscula/minúscula e/ou ele/ela ou ele/elas são tomados como intermutáveis e, portanto, referem-se ao mesmo.</p>
                    <p> </p>
                    <p>Todo o conteúdo é atualizado periodicamente, porém, pode conter em algum artigo, vídeo ou imagem, alguma informação que não reflita a verdade atual, não podendo a EMPRESA ser responsabilizada de nenhuma forma ou meio por qualquer conteúdo que não esteja devidamente atualizado.</p>
                    <p> </p>
                    <p>É de responsabilidade do usuário de usar todas as informações presentes no site com senso crítico, utilizando apenas como fonte de informação.</p>
                    <p> </p>
                    <h3>2. <strong>WIIZ Cookies</strong></h3>
                    <p> </p>
                    <p>Utilizamos cookies. Ao usar o site da <strong>WIZ </strong> consente a utilização de cookies de acordo com a política de privacidade da <strong> WIZ </strong>. A maioria dos sites interativos de hoje em dia usam cookies que nos permitem recuperar os detalhes do utilizador para cada visita.</p>
                    <p> </p>
                    <h3><strong>3. WIIZ Licença</strong></h3>
                    <p> </p>
                    <p>Executando referência em contrário, a WIZ e/ou os seus licenciantes são proprietários dos direitos de propriedade intelectual para todo o material em WIZ.</p>
                    <p> </p>
                    <p> Todos os direitos de propriedade intelectual são reservados.  Pode visualizar e/ou imprimir páginas de www.wiiz.pt para o seu uso pessoal, sujeito às restrições definidas nestes termos e condições. Não deve:</p>
                    <ul>
                    <li>Republicar material de <strong> www.wiiz.pt </strong></li>
                    <li>Vender, alugar ou sub-licençiar material de <strong> www.wiiz.pt </strong></li>
                    <li>Reproduzir, duplicar ou copiar material de <strong> www.wiiz.pt </strong></li>
                    <li>Redistribuir conteúdo de <strong> WIZ </strong> a não ser que o conteúdo seja feito especificamente para redestribuição. </strong></li>
                    </ul>
                    <p> </p>
                    <p>Em caso de dúvidas sobre qualquer palavra utilizada neste termo, o VISITANTE deverá entrar em contato com a EMPRESA através dos canais de comunicação encontradas no site.</p>
                    <p> </p>
                    <h3>4<strong> Aviso </strong></h3>
                    <p> </p>
                    <p>No limite máximo permitido pela lei aplicável, excluímos todas as representações, garantias e condições relacionadas com o nosso site e com a utilização deste site (incluindo, sem limitação, qualquer garantia implícita na lei a respeito de qualidade satisfatória, adequação ao propósito e/ou utilização de cuidado e habilidade razoável). Nada neste aviso irá:</p>
                    <p> </p>
                    <ul>
                    <li>Limitar ou excluir a nossa ou a sua responsabilidade devido a morte ou lesões pessoais resultantes de negligência.</li>
                    <li>Limitar ou excluir a nossa ou a sua responsabilidade por fraude ou declarações fraudulentas.</li>
                    <li>Limitar qualquer responsabilidade nossa ou sua de qualquer forma que não seja permitida de acordo com a lei aplicável.</li>
                    <li>Ou excluir qualquer das nossas, ou das suas, responsabilidade que não possam ser excluídas de acordo com a lei aplicável.</li>
                    </ul>
                    <p> </p>
                    <p>As limitações e exclusões de responsabilidade definidas nesta secção e em outros locais deste aviso:</p>
                    <p> </p>
                    <ul>
                    <li>Estão sujeitas ao parágrafo precedente;</li>
                    <li>Governam todas as responsabilidades de acordo com este aviso ou em relação com a matéria em questão neste aviso, incluídas responsabilidades que surjam em contrato, responsabilidade civil (incluindo negligencia) e por qualquer quebra de dever estatuário.</li>
                    </ul>
                    <p> </p>
                    <p>Todos os dados estão protegidos conforme a Lei Geral de Proteção de Dados, e ao realizar o registo junto ao site, o VISITANTE concorda integralmente com a recolha de dados conforme a Lei e com a Política de Privacidade da EMPRESA.</p>
                    <p> </p>
                    <p>Na medida em que o site, a informação e os serviços no site são fornecidos sem qualquer custo, não seremos responsáveis por qualquer perda ou dano de qualquer natureza.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}