{% extends 'base.html' %}
{% load static %}

{% block title %} WIZI {% endblock title %}

{% block content %}
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for company in companies %}
          <div class="col mb-5">
            <div class="card" style="width: 18rem;">
              <img src="{{ company.wallpapper.url }}"" class="card-img-top" alt="Image" style="height:300px" />
              <div class="card-body">
                
                <a href="/{{company.slug}}/"><h5 class="card-title"> {{ company.company }} </h5></a>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ company.email }}</li>
              </ul>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
  </div>
</section>

{% endblock content %}