{% extends 'base.html' %}
{% load static %}

{% block title %} WIZI {% endblock title %}

{% block content %}

<section id="services" class="services">
  <div class="container" data-aos="fade-up">
  {% if company != None %}
      {% if products|length == 0 %}
        <h1>Nao tem produtos ainda ...</h1>
      {% else %}
          <div class="section-title">
            <h2>Products</h2>
          </div>
          <div class="row">
          {% for product in products %}
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="card" style="width: 18rem;">
                    <img src="{{product.image.url}}" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">{{product.price}} €</h5>
                      <p class="card-text">{{product.desc}}</p>
                    </div>
                  </div>
                  <a href="/products/{{ product.id }}/update/"><button type="submit" class="btn btn-success">Editar</button></a>
                  <a href="/products/{{ product.id }}/delete/"><button type="submit" class="btn btn-danger">Eliminar</button></a>
                </div>
              {% endfor %}
            </div>
          </div>
      {% endif %}
    <div class="d-flex align-items-center justify-content-center">
      <a href=" {% url 'create-product' %} "><button type="submit" class="btn btn-success">Adicionar Produto</button></a>
  {% else %}
      <h1>E necessario ter uma pagina para adicionar produtos</h1>
      <a href="/companies/"><button type="submit" class="btn btn-success">WIZI</button></a>

      {% endif %}



  </div>
</section>

{% endblock content %}




