{% extends 'base-nonav.html' %}

{% load static %}

{% block title %} WIIZ {% endblock title %}

{% block content %}

<!--====== PRELOADER PART START ======-->

    <div class="preloader">
      <div class="loader">
          <div class="ytp-spinner">
              <div class="ytp-spinner-container">
                  <div class="ytp-spinner-rotator">
                      <div class="ytp-spinner-left">
                          <div class="ytp-spinner-circle"></div>
                      </div>
                      <div class="ytp-spinner-right">
                          <div class="ytp-spinner-circle"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

<!--====== PRELOADER PART ENDS ======-->

<!--====== COMPANY PART START ======-->
    
            <section id="home" class="header_area">
                <div id="header_navbar" class="header_navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                </div> <!-- header navbar -->
                <div class="header_hero">
                    <div class="single_hero bg_cover d-flex align-items-center" style="background-image:url('{{ company.wallpapper.url }}')">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-10">
                                    <div class="hero_content text-center">
                                        <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">{{ company.company}}</h2>
                                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">{{ company.welcome}}</p>
                                        <p class="wow fadeInUp text-light" data-wow-duration="1.3s" data-wow-delay="0.5s">{{ company.about}}</p>
                                        {% if why != '' %}
                                        <a href="#features" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Veja mais!</a>
                                        {% endif %}
                                    </div> <!-- hero content -->
                                </div>
                            </div> <!-- row -->
                        </div> <!-- container -->
                    </div> <!-- single hero -->
                </div> <!-- header hero -->
            </section>
    
            

<!--====== COMPANY PART ENDS ======-->
  
<!--====== WHY PART START ======-->
  {% if why != '' %}
        <section id="features" class="features_area pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center pb-25">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Porque nós?</h4>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-7">
                        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                            data-wow-delay="0.2s">
                            <h1 class="features_title"> {{ why.title1 }} </a></h1>
                            <p>{{ why.reason1 }}</p>
                        </div> <!-- single features -->
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                            data-wow-delay="0.4s">
                            <h1 class="features_title">{{ why.title2 }}</a></h1>
                            <p>{{ why.reason2 }}</p>
                        </div> <!-- single features -->
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                            data-wow-delay="0.6s">
                            <h1 class="features_title">{{ why.title3 }}</a></h1>
                            <p>{{ why.reason3 }}</p>
                        </div> <!-- single features -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        <br/>
        <br/>
        <br/>
        </section>
  {% endif %}

<!--====== WHY PART ENDS ======-->

<!--====== NEWS PART START======-->
    {% if mainnew != '' %}
        <section id="blog" class="blog_area pt-120 pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center pb-25">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Notícias</h4>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single_blog mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                <div class="blog_image">
                                    <img src="{{ mainnew.image.url }}" alt="blog">
                                </div>
                                <div class="blog_content">
                                    <h3 class="blog_title"><a href="#0">{{ mainnew.title }}</a></h3>
                                    <p>{{ mainnew.text }}</p>
                                </div>
                            </div> <!-- single blog -->
                        </div>
                        <!-- new -->
                        {% if news|length > 0 %}
                            <div class="col-lg-6">
                                {% for new in news %}
                                        <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s"
                                        data-wow-delay="0.2s">
                                            <div class="blog_image">
                                                <img src="{{ new.image.url }}" alt="blog" class="img-thumbnail" style="width: 150px; height: auto">
                                            </div>
                                            <div class="blog_content media-body">
                                                <h3 class="blog_title"><a href="#0">{{ new.title }}</a></h3>
                                                <p>{{ new.text }}</p>
                                            </div>
                                        </div> <!-- single blog -->
                                        <br/>
                                {% endfor %}
                            </div>
                                    <!-- new -->
                    </div> <!-- row -->
                {% endif %}
            </div> <!-- container -->
        </section>

    {% endif %}
<!--====== NEWS PART ENDS======-->

<!--====== SEPARATORS PART START======-->
    {% if separators|length > 0 %}
    <section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover" style="background-image: url(assets/images/testimonial.jpg)">
        <div class="container">
            <div class="row justify-content-center">


                <div class="col-lg-8">
                    <div class="testimonial_active_wrapper">
                        <div class="testimonial_active">
                            {% for separator in separators %}
                                <div class="single_testimonial text-center">
                                    <img src=" {{ separator.image.url }} " alt="author" class="img-fluid" style="width: 300px; height: auto">
                                    <h5 class="author_name"> {{ separator.title }} </h5>
                                    <p> {{ separator.desc }} </p>
                                </div>
                                <br/>
                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>



            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    {% endif %}
<!--====== SEPARATORS PART ENDS======-->

<!--====== SERVICES PART START======--> 
    {% if services|length > 0 %}

        <section id="services" class="features_area pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center pb-25">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Serviços</h4>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    {% for service in services %}
                            <div class="col-lg-4 col-md-6">
                                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                                    data-wow-delay="0.2s">
                                    <h4 class="features_title">{{ service.title }}</h4>
                                    <p>{{ service.desc }}</p>
                                </div> <!-- single features -->
                            </div>
                    {% endfor %}
                </div> <!-- row -->
            </div> <!-- container -->
            <br/>
            <br/>
            <br/>
        </section>


    {% endif %}
<!--====== SERVICES PART ENDS======-->
  
<!--====== PRODUCTS PART START======-->
    {% if products|length > 0 %}
    <section id="portfolio" class="portfolio_area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-60">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Products</h4>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
            <div class="portfolio_wrapper d-flex flex-wrap">
                {% for product in products %}
                            <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                <img src="{{ product.image.url }}" alt="portfolio' %}" class="img-responsive">
                                <div class="portfolio_content">
                                    <h5 class="portfolio_title">{{ product.name }}</h5>
                                    <h5 class="portfolio_title">{{ product.price }} €</h5>
                                </div> <!-- Single portfolio -->
                            </div> <!-- portfolio wrapper -->
                {% endfor %}
            </div> <!-- row -->
    </section>
    {% endif %}
<!--====== PRODUCTS PART ENDS======-->
  
<!--====== PLANS PART START======-->
    {% if plans|length > 0 %}
    <section id="pricing" class="pricing_area pt-120 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-25">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Os nossos planos</h4>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->

            <div class="row justify-content-center">
                    {% for plan in plans %}
                        <div class="col-lg-4 col-md-8 col-sm-10">
                            <div class="single_pricing text-center mt-30 active wow fadeInUp" data-wow-duration="1.3s"
                                data-wow-delay="0.3s">
                                <h4 class="pricing_title">{{ plan.title }}</h4>
                                <span class="price">{{ plan.price }} €</span>
                                <p class="text-light">{{ plan.desc }}</p>
                            </div> <!-- single pricing -->
                        </div>
                {% endfor %}

            </div> <!-- row -->


        </div> <!-- container -->
    </section>

    {% endif %}

<!--====== PLANS PART ENDS======-->
  



<!--====== EMPLOYERS PART START======-->
    {% if employers %}
        <section id="team" class="team_area pt-120 pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center pb-25">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Os nossos profissionais</h4>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                <div class="row justify-content-center team_active">

                {% for employer in employers %}
                    <div class="col-lg-4 col-md-8 col-sm-10">
                        <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                            <img src="{{ employer.image.url }}" alt="team">
                            <div class="team_content" style="width: 200px">
                                <h4 class="team_name"><a href="#0">{{ employer.name }}</a></h4>
                                <p>{{ employer.funcion }}</p>
                            </div>
                        </div> <!-- single team -->
                    </div>
                    {% endfor %}
                </div> <!-- row -->
            </div> <!-- container -->
        </section>
    {% endif %}
  

<!--====== EMPLOYERS PART ENDS======-->
  

  
<!--====== CONTACT PART START======-->

  <section id="contact" class="contact_area bg_cover pt-120 pb-130" style="background-image: url(assets/images/contact_bg.jpg)">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="section_title section_title_2 text-center pb-25">
                      <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Contactos</h4>
                  </div> <!-- section title -->
              </div>
          </div> <!-- row -->
          
          <form id="contact-form" action="" method="post" class="wow fadeInUp"
              data-wow-duration="1.3s" data-wow-delay="0.4s">
              {% csrf_token %}
              <div class="row">
                  <div class="col-lg-6">
                      <div class="single_form">
                          <input type="text" placeholder="Name" name="name" id="name" required>
                      </div> <!-- single form -->
                  </div>
                  <div class="col-lg-6">
                      <div class="single_form">
                          <input type="email" placeholder="Email" name="email" id="email" required>
                      </div> <!-- single form -->
                  </div>
                  <input id="mailf" name="mailf" type="hidden" value=" {{ company.email }} ">
                  <div class="col-lg-12">
                      <div class="single_form">
                          <input type="text" placeholder="Subject" name="subject" id="subject" required>
                      </div> <!-- single form -->
                  </div>
                  <div class="col-lg-12">
                      <div class="single_form">
                          <textarea placeholder="Message" name="message" id="message" required></textarea>
                      </div> <!-- single form -->
                  </div>
                  
                  <p class="form-message"></p>
                  
                  <div class="col-lg-12">
                      <div class="single_form text-center">
                          <button class="main-btn" type="submit">SUBMIT</button>
                      </div> <!-- single form -->
                  </div>
              </div> <!-- row -->
          </form>
      </div> <!-- container -->
  </section>

<!--====== CONTACT PART ENDS======-->
  
<!--====== FOOTER PART START ======-->

  <footer id="footer" class="footer_area">
      <div class="container">
          <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
              <p class="credit">Copyright &copy; WIZI 2022</p>
              <div class="footer_social pt-15">
                  <ul>
                      <li><a href="/"><img src="{% static 'wizilogo.png' %}" style="width: 45px; height: 45px;"/></a></li>
                      <li><a class="link-light small" href="/conditions/">Termos e condições</a></li>
                  </ul>
              </div> <!-- footer social -->
          </div> <!-- footer wrapper -->
      </div> <!-- container -->
  </footer>

<!--====== FOOTER PART ENDS ======-->
  
    <!--====== BACK TOP TOP PART START ======-->

  <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

  <!--====== BACK TOP TOP PART ENDS ======-->

  
  <!--====== Bootstrap js ======-->
  <script src="{% static 'assets/js/bootstrap.bundle-5.0.0-beta1.min.js' %}"></script>
  
  <!--====== glide js ======-->
  <script src="{% static 'assets/js/tiny-slider.js' %}"></script>
  
  <!--====== wow js ======-->
  <script src="{% static 'assets/js/wow.min.js' %}"></script>
  
  <!--====== Main js ======-->
  <script src="{% static 'assets/js/main.js' %}"></script>
  
</body>























{% endblock content %}